.jumbotron {
    background-image: url(../img/wide.jpg);
    padding-top: 10px; 
    margin-top: 0px; 
    margin-left: -15px; 
    margin-right: -15px;
    margin-bottom: 1px;
    border-radius: 0px !Important;
}

h1 {
    color: #fff !Important;
    font-family: 'Baloo Bhaina', cursive;
    padding-top: 0px;  
    font-weight: 600;
}

input[type="text"] {
    height: 60px; 
    margin-top: 10px; 
    font-size: 30px;
}

.my-table {
    margin-bottom: 2px;
    
}

#txtHint {
    font-size: 16px;
}
